<p id="notice"><%= notice %></p>

<link rel="stylesheet" href="stylesheets/style.css">
<h1>welcome</h1>
<p>
    Dear <b><i><u></u></i></b>
    <p>
    </p>
</p>
<p>
</p>
<p>
    Welcome to RupeeVest! We are honored to be the financial services provider for your family’s investment needs.
    <p>
    </p>
</p>
<p>
</p>
<p>
    Managing your personal investments will never be the same again. Using RupeeVest’s unique state-of-the- art platform you will be able to plan, invest and
    track with the confidence of a professional at the comfort of your home. You will be able to make use of the value-added services we provide to have an
    informed access and empowered control of your investments.
    <p>
    </p>
</p>
<p>
</p>
<p>
    Your User id is: <b><i><u></u></i></b>
    <u>
        <p>
        </p>
    </u>
</p>
<p>
</p>
<p>
    To complete your account opening process and start your investments with us, we need you to send us the application form and a few required documents. You
    will find the full list of documents that we need in the enclosed “Document Checklist”.
    <p>
    </p>
</p>
<p>
</p>
<p>
    <b>Please read and ensure that you mail us the entire list of documents from the “Document Checklist” to avoid any delay in processing your application</b>
    .
    <p>
    </p>
</p>
<p>
</p>
<p>
    Please also find attached the terms and conditions of using our services. Please go through it carefully, and maintain it for your records.
    <p>
    </p>
</p>
<p>
</p>
<p>
    <b>If you have chosen to send the forms to us yourself:</b>
    <p>
    </p>
</p>
<p>
</p>
<p>
    Please send all the documents, including the signed application form and terms &amp; condition document to:
    <p>
    </p>
</p>
<p>
</p>
<p>
    RV Financial Services Private Limited
    <p>
    </p>
</p>
<p>
</p>
<p>
    5B Judges Court Road, Flat No – 6B
    <p>
    </p>
</p>
<p>
    Kolkata, West Bengal 700027. Telephone Number: 91-7406998067
    <p>
    </p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
    If you have any question regarding either the application form or the documents required please get in touch with us at <u>info@RupeeVest.com</u> or call
    us at 91-7406998067.
    <p>
    </p>
</p>
<p>
</p>
<p>
    Once again thank you for choosing RupeeVest.com
    <p>
    </p>
</p>
<p>
</p>
<p>
    Warm Regards
    <p>
    </p>
</p>
<p>
</p>
<p>
    Happy RupeeVesting!
    <p>
    </p>
</p>

<p id="pdf_link"><%= link_to " Download (PDF)", users_welcome_path(@user, :format => "pdf" ) %></p>
